<!--生徒IDは本来はテーブル設計を変更して多対多にしなければならないが今回は手入力とした。
コース名も現状なんでも登録できてしまい、コース単体のテーブルが必要だが見送った-->

<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      lang="jp">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>
<body>
<h1>コース登録</h1>

<form th:action="@{/registerCourse}" th:object="${course}" method="post">
    <div>
        <label for="studentId">生徒ID：</label>
        <select id="studentId" th:field="*{studentId}" required>
            <option value="">選択してください</option>
            <option th:each="student: ${students}" th:value="${student.id}" th:text="${student.fullName}"></option>
        </select>
    </div>
    <div>
        <label for="courseName">コース名：</label>
        <input type="text" id="courseName" th:field="*{courseName}" required/>
    </div>
    <div>
        <label for="courseStartDay">受講開始日：</label>
        <input type="date" id="courseStartDay" th:field="*{courseStartDay}"/>
    </div>
    <div>
        <button type="submit">登録</button>
    </div>
</form>
</body>
</html>